# Continuous Integration (CI) is the practice, in software
# engineering, of merging all developer working copies with a shared mainline
# several times a day < https://docs.platformio.org/page/ci/index.html >
#
# Documentation:
#
# * Travis CI Embedded Builds with PlatformIO
#   < https://docs.travis-ci.com/user/integration/platformio/ >
#
# * PlatformIO integration with Travis CI
#   < https://docs.platformio.org/page/ci/travis.html >
#
# * User Guide for `platformio ci` command
#   < https://docs.platformio.org/page/userguide/cmd_ci.html >
#
#
# Please choose one of the following templates (proposed below) and uncomment
# it (remove "# " before each line) or use own configuration according to the
# Travis CI documentation (see above).
#
# * Test the Travis config here:
#   < https://config.travis-ci.com/explore >
#

language: python
python:
    # - "2.7"
    - "3.5"
os: linux
cache:
    bundler: true
    ccache: true
    directories:
        - "~/.platformio"
        - "~/.buildcache"
env:
    - PLATFORMIO_CI_SRC=wled00
install:
    - pip install -U platformio
    - platformio update
script:
    # - platformio ci --project-conf=./platformio.ini
    - platformio run

before_deploy:
  # Set up git user name and tag this commit
  - git config --local user.name "HetBouHe"
#  - git config --local user.email "YOUR GIT USER EMAIL"
  - export TRAVIS_TAG=${TRAVIS_TAG:-$(date +'%Y%m%d%H%M%S')-$(git log --format=%h -1)}
  - git tag $TRAVIS_TAG

deploy:
  provider: releases
  github_token: $TRAVIS_CI
  file: ".pio/build/esp32dev/firmware.bin"
  skip_cleanup: true
